<div class="login">
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="#">
            Salon Management
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <ui-view />
    </div>
    <div class="copyright">
        2015 © Trần Lê Cường - Salon management
    </div>
    <!-- END LOGIN -->
    <link href="../../../../Content/Theme/login.css" rel="stylesheet" />
</div>