<div class="form-group">
    <label class="control-label">
        Tên nhóm:
    </label>
    <input class="form-control" ng-model="serviceGroup.Name" />
</div>
<div class="form-group">
    <label class="control-label">
        Thứ tự:
    </label>
    <input class="form-control" ng-model="serviceGroup.Rank" />
</div>
<div class="form-group">
    <kendo-button class="k-button k-primary" ng-click="saveServiceGroup()"><i class="fa fa-save"></i> Lưu lại</kendo-button>
    <kendo-button class="k-button"><i class="fa fa-sign-out"></i> Hủy bỏ</kendo-button>
</div>

